.layout{
    height: 100vh;
    padding: 20px 50px;
}

.header{
    height: 10%;
    background-color: rgba(3, 8, 80, 0.562) !important;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header h1{
    color: rgb(186, 245, 245);
    font-size: 28px;
    margin: 10px;
}

.content{
    height: 100%;
    border: 1px solid rgb(66, 66, 66);
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(48, 47, 47);
    padding: 10px;
}

.header a{
    color:  white !important;
    font-size: 20px;
}